!!! 5
%html
  %body
    %h1 CPP Account Reminder
    %p
    %p Dear #{@name}, 
    %p  
    %p Your CPP account has not been updated in the last 6 months. 
    %p To updated your account, please log into the <a href=#{@url}>CPP site</a> and update your profile.
    %p Keeping your CV and profile up to date may increase the likelihood of companies viewing your profile.
    %p
    %p Kind regards,
    %p CPP 