!!! 5
%html
  %body
    %h1 CPP Account Suspension Notification
    %p
    %p Dear #{@name}, 
    %p  
    %p Your CPP account has been deactivated by your department administrator.
    %p To reactivate your account, please log into the <a href=#{@url}>CPP site</a> and re-enable your profile on the settings page.
    %p
    %p Kind regards,
    %p CPP 