!!! 5
%html
  %body
    %h1 CPP Account Deleted Notification
    %p Your company administrator account for this email address on the CPP system has been deleted
    %p If you believe this has occured in error, please contact <a href="mailto:cpp@doc.ic.ac.uk">cpp@doc.ic.ac.uk</a>
