!!! 5
%html
  %body
    %h1 <center>Your event has been approved to appear on CPP</center>
    %p Congratulations! The following event has been approved. 
    %p <b>Title:</b>
    %p= @event.title
   
