!!! 5
%html
  %body
    %h1 CPP Password Reset Notification
    %p Your password has been reset to:
    %p= @password
    %p Please login and change your password staight away.
    %p If you didn't request a password reset, contact your department CPP Co-ordinator immediately.