<div class="row">
  <div class="span12">
    <h1 class="section-header">Welcome to the Corporate Partnership Programme (CPP)</h1>
    <p><%= lipsum "paragraphs", 1 %></p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h1 class="section-header">For Students</h1>
    <p><%= lipsum "paragraphs", 1 %></p>
    <a class="btn btn-primary button-student-register" href="/#register">
      Sounds Good, Sign Me Up!
    </a>
  </div>
  <div class="span6">
    <h1 class="section-header">For Industry</h1>
    <p><%= lipsum "paragraphs", 1 %></p>
    <a class="btn button-student-register" href="/#companies/register">
      Apply
    </a>
  </div>
</div>
