<div class="row">
  <div class="span12">
    <h1 class="section-header">Corporate Partnership Programme:Connect</h1>
  </div>
  <div class="span6">
    <p>
      Our Corporate Partnership Programme is designed to promote the relationship
      between the Department of Computing and organisations who wish to recruit our
      students whilst investing in academic sponsorship. Students register their CVs,
      skills and interests online. Corporate Partners access the site to recruit students
      for graduate positions, summer internships and industrial placements. Corporate
      Partners also receive a package of other benefits aimed at raising their profile
      amongst our students, such as being able to send emails to students.
    </p>
    <p>Alongside the programme, we run the Applications of Computing in Industry lecture series.
      This timetabled series of talks is given by our Corporate Partners and is designed to
      inform our students about how Computer Science is applied to meet business challenges.
    </p>
  </div>
  <div class="span6">
    <%= image_tag "cpp_image.jpg", :class => "center" %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h1 class="section-header"><i class="icon-user"></i> For Students</h1>
    <ul>
      <li>Want to be seen and targeted by some of the best IT companies in the world?</li>
      <li>Want to only receive the emails you <b>want</b> to receive?</li>
      <li>Want to attend fantastic events organised by industry?</li>
      <li>Want a fast track way of securing a placement?</li>
    </ul>
    <p>
      If the answer to any of these questions is yes, then sign up as a student to CPP:Connect.
    </p>
    <p>
      Get instant access to companies that want to hire you, see events and placements and show off
      your skills to recruiters from some of the top IT companies in the world.
    </p>
  </div>
  <div class="span6">
    <h1 class="section-header"><i class="icon-briefcase"></i> For Industry</h1>
    <p>
      CPP:Connect offers companies access to students at Imperial College Department of Computing.
      Register your events, contact students and become more connected with Imperial students
    </p>
    <p>
      Want more from the service? find out about becoming a benefactor by emailing
      <a href="mailto:cpp@doc.ic.ac.uk">cpp@doc.ic.ac.uk</a>
    </p>
    <p>Otherwise, apply below.</p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <a class="btn btn-primary button-student-register" href="/#register">
      Sounds Good, Sign Me Up!
    </a>
  </div>
  <div class="span6">
    <a class="btn button-student-register" href="/#companies/register">
      Apply
    </a>
  </div>
</div>
