<h1 class="section-header">Google</h1>
<div class="row">
  <div class="span12">
    <%= lipsum('paragraphs', 2) %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h1 class="section-header">Events</h1>
    <ul>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
    </ul>
    <%= link_to "See All" %>
  </div>
  <div class="span6">
    <h1 class="section-header">Placements</h1>
    <ul>
      <li>Placement 1</li>
      <li>Placement 2</li>
      <li>Placement 3</li>
    </ul>
    <%= link_to "See All" %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h1 class="section-header">Mailing</h1>
    <ul>
      <li>Mail 1</li>
      <li>Mail 2</li>
      <li>Mail 3</li>
    </ul>
    <%= link_to "See All" %>
  </div>
  <div class="span6">
    <h1 class="section-header">Stats</h1>
    Coming soon...
  </div>
</div>