<h1 class="section-header">Google</h1>
<div class="row">
  <div class="span12">
    <%= lipsum('paragraphs', 2) %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h1>Events</h1>
    <ul>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
    </ul>
    <%= link_to "See All" %>
  </div>
  <div class="span6">
    <h1>Placements</h1>
    <ul>
      <li>Placement 1</li>
      <li>Placement 2</li>
      <li>Placement 3</li>
    </ul>
    <%= link_to "See All" %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h1 class="section-header">Project X
      <span class="pull-right"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="well">
      <h2>Google is Awesome!!!</h2>
      <p>
        <%= lipsum('paragraphs', 3) %>
      </p>
    </div>
  </div>
  <div class="span6">
    <div class="well">
      <dl class="dl-horizontal">
        <dt>Department</dt>
        <dd>Computing</dd>
        <dt>Course</dt>
        <dd>MEng</dd>
        <dt>Year</dt>
        <dd>3</dd>
        <hr>
        <dt>Pay</dt>
        <dd><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></dd>
        <dt>Opportunites</dt>
        <dd><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></dd>
        <dt>Fun-ness</dt>
        <dd><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></dd>
        <dt>Overall</dt>
        <dd><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></dd>
      </dl>

    </div>
  </div>
</div>