.company-tile {
	margin-bottom: 26px;

  &:hover{
    background: #efefef;
    cursor: pointer;
  }
}

#company-name-editor {
  font-family: 'Arvo', serif;
  font-size: 38.5px;
  line-height: 40px;
  width: 700px;
  height: 60px;
  @include box-sizing(border-box);
}

#company-description-editor {
  width: 100%;
  min-height: 120px;
  @include box-sizing(border-box);
}