@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,700);
@import url(http://fonts.googleapis.com/css?family=Give+You+Glory);
@import url(http://fonts.googleapis.com/css?family=Arvo);

/* Site Settings */
$border_radius: 6px;

/* Main Site Styles (tags etc) */
body {
  background-color: #d0d0d0;
  background-image: url('/assets/navy_blue.png');
}

h1 {
  font-family: 'Arvo', serif;
}

textarea {
  resize: none;
}

#filters {
  input {
    width: 95%;
  }
}

.section-header {
  border-bottom: 1px solid #444;
}

/* Layout */
#main-container {
  padding: 15px 15px 0px 15px;
  background-color: #ffffff;
  border: 1px solid #DDD;
  overflow: hidden;
  @include border-radius($border_radius);
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .075));
}

.footer{
  color: #ccc;
  padding-top: 10px;
  font-weight: 300;

  a {
    color: #ccc;
    &:hover {
      color: #ccc;
    }
  }
}

.link {
  color: #08C;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Notifications */
.centre-span{
  margin:0 auto;
  float:none;
  height:0;
  position:relative;
}

.centre-text{
  text-align:center;
}

/* Forms */

.form-cancel {
  margin-left: 10px;
  cursor: pointer;
}

/* Event/Placement Lists */
.opportunity-list{
  list-style: none;
  margin: 0px 0px 10px 0px;
  padding: 0px;

  li {
    .item {
      padding: 10px 5px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
      display: block;
      text-decoration: none;
      color: #444;

      .btn {
        display: none;
      }

      .link-title {
        font-weight: bold;
        font-size: 1.2em;
      }

      .link-description{
        margin-top: 5px;
      }


      &:hover{
        background: #efefef;
        text-decoration: none;

        .btn{
          display: block;
        }
      }
    }
  }
}

.rating > span:hover {
  color:  #FDD017;
}

.ban-icon {
  padding-top: 8px;
  font-size: 20px;
  color: #6D6968;
}

.star-icon {
  padding-top: 8pxP  font-size: 25px;
  color: #6D6968;
  padding-right: 5px;
}

.company-tile-blurb {
  padding-top: 4px;
}

.goldenStar {
  color: #FDD017;
}
