// fonts have been overridden to basic font family.
// removed colors as well

// cannot include top link in .less for some reason
// @import url(//fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,700);
@import url(//fonts.googleapis.com/css?family=Fira+Sans);
@font-face {
    font-family: 'imperial-icons'; /*a name to be used later*/
    src: url('imperial-icons.woff'); /*URL to font*/
}
// /* Site Settings */

/* Main Site Styles (tags etc) */
body {
  min-width: 220px;
  min-height: 480px;
  margin: 0 auto;
  padding: @navbarHeight 40px 40px 40px;
  font-family: @sansFontFamily;
  color: #161515;
  font-size: 14px;
  // font-size: 12rem;
  line-height: 1.6;
  position: relative;
  padding-top: 57px; // only here to override, but should work with the variables!
  @media (max-width: 550px){
    padding: @navbarHeight 0px 0px 0px;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: @sansFontFamily;
  font-size: @baseFontSize;
  font-weight: 400;
}
p {
  font-family: @sansFontFamily;
  font-size: @baseFontSize;
  font-weight: 300;
}


textarea {
  resize: none;
}

textarea[name=description] {
  resize: both;
  height: 150px;
  width: 50%;
}

.section-header {
  font-size: 18px;
  color: #676767;
}

.full-borderless-card {
  display: block;
  position: relative;
  float: left;
  width: calc(~'100% + 52px');
  margin: -1px -25px 15px;
}

.full-width-card {
  border: 1px solid #d5d8d9;
  -moz-box-shadow: #C3C6C7 1px 1px 5px -2px;
  -webkit-box-shadow: #C3C6C7 1px 1px 5px -2px;
  box-shadow: #C3C6C7 1px 1px 5px -2px;
  background: #fff;
  overflow: hidden;

  display: block;
  position: relative;
  float: left;

  width: calc(~'100% + 52px');
  margin: -1px -25px 40px;

}

.full-header {
  margin: 0px;
  padding: 15px 15px;
  background-color: #0088cc;
  color: #ffffff;
}

.full-body {
  margin: 0px;
  padding: 15px;
}

.shadow-card {
  border: 1px solid #d5d8d9;
  -moz-box-shadow: #C3C6C7 2px 2px 5px -2px;
  -webkit-box-shadow: #C3C6C7 2px 2px 5px -2px;
  box-shadow: #C3C6C7 2px 2px 5px -2px;
  background: #fff;
  overflow: hidden;
  margin: 15px 0px;
}

.colour-card {
  border: 1px solid #d5d8d9;
  -moz-box-shadow: #C3C6C7 1px 1px 5px -2px;
  -webkit-box-shadow: #C3C6C7 1px 1px 5px -2px;
  box-shadow: #C3C6C7 1px 1px 5px -2px;
  background: #fff;
  overflow: hidden;
  margin: 15px 0px;
} // note: at the moment this is the same as the shawow-card

.colour-header {
  margin: 0px;
  padding: 5px 15px;
  background-color: #0088cc;
  color: #ffffff;
}

.colour-body {
  margin: 0px;
  padding: 15px;
}

.colour-card-horizontal {
  border: 1px solid #d5d8d9;
  -moz-box-shadow: #C3C6C7 2px 2px 5px -2px;
  -webkit-box-shadow: #C3C6C7 2px 2px 5px -2px;
  box-shadow: #C3C6C7 2px 2px 5px -2px;
  background: #fff;
  overflow: hidden;
  margin: 15px 0px;
} // note: at the moment this is the same as the shawow-card

.colour-header-horizontal {
  float: left;
  width: 28.5%;
  margin: 0px;
  padding: 5px 15px;
  background-color: #0088cc;
  color: #ffffff;
}

.colour-header-bottom{

}

.colour-body-horizontal {
  padding: 15px 15px;
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}




.media-side-card {

}

.content-side-card {

}

// /* Layout */

.container {
  width: auto;
  box-sizing: border-box;
}

#app {
  padding-bottom: 10px;
}
#main-container {
  padding: 0px 24px 24px 24px;
  border: 0px solid #DDD;
  overflow: hidden;
  margin: 0px 0px 24px 0px;
  box-sizing: border-box;
  @media (max-width: 450px){
    padding: 0px 10px 10px 10px;
  }
}

.link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Notifications */
.centre-span{
  margin:0 auto;
  float:none;
  height:0;
  position:relative;
}

.centre-text{
  text-align:center;
}

/* Forms */

.image-buttons-container{
   position:relative;
   display: inline-block;
}
.image-buttons{
  display: inline-block;
  position: relative;
  margin: 5px;
  border: 1px solid #989898;
  color: #989898;
  padding: 1px 5px;
  border-radius: 4px;
  text-align: center;
  &:hover{
    cursor: pointer;
    color: #0088cc;
    text-decoration: none;
    border-color: #0088cc;
  }

}

.centre-buttons-below {
  // margin-left: auto;
  //margin-right: auto;
  //width: 71%;
  margin-top: 10px;
}

.table-clickable tr td {
  cursor: pointer;
}

.loading {
  background: url('/assets/ajax-loader.gif') center center no-repeat;
  min-height: 30px;
}

.button-student-register{
  width: 100%;
  text-align: center;
  padding: 15px;
}

.row-top-space {
  margin-top: 20px;
}

.tooltip {

}

.form ul {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.top-5-icon {

}

// NAVIGATION TABS

.full-width-tabs > ul.nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0px;
}
.full-width-tabs > ul.nav.nav-tabs > li {
    float: none;
    display: table-cell;
}
.full-width-tabs > ul.nav.nav-tabs > li > a {
    text-align: center;
}
.take-all-space-you-can{
    width:100%;
}

#full-width-margins {
  margin: 0px -25px;
}

// TABS
// ----

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 0px;
  font-weight: 300;
}
// Make the list-items overlay the bottom border
.nav-tabs > li {
  margin-bottom: -1px;
  border-top: 1px solid #dddddd;
}
// Actual tabs (as links)
.nav-tabs > li > a {
  // border: 1px solid #ddd;
  margin: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 0px;
  font-weight: 300;
  .border-radius(0px 0px 0 0);
  &:hover,
  &:focus {
    border: 0px;
    // background-color: #236aff;
    // border-color: @grayLighter @grayLighter #ddd;
  }
}

.nav-collapse .nav > li > a,
.nav-collapse .dropdown-menu a {
  font-weight: 300;
}

@media (max-width: 979px) {
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
  font-weight: 300;
}
}

// Active state, and it's :hover/:focus to override normal :hover/:focus
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #ffffff;
  background-color: #66A40A;
  border: 0px;
  border-bottom-color: transparent;
  cursor: default;
  font-weight: 300;
}

.well {
  box-shadow: #C3C6C7 3px 0px 6px -2px inset;
  border-radius: 0px;
  top: 0;
  right: 24px;
  border-right: 1px solid #d5d8d9;
  background-color: #ebeeee;
  background: #ebeeee !important;
  position: initial;
  height: 100%;
  border-right: 1px solid #d5d8d9;
  border-bottom: 1px solid #d5d8d9;
  padding: 10px;

}

#well-margin {
  margin: 0px;
}

.fill {
  min-height: 100%;
  height: 100%;
}

// to centre a span that is less than 12
.centre-span {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#centre-span {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.link-accent {
  // text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  // font-weight: bold;
  color: #0088cc;
  display: inline-block;
  position: relative;
  padding-right: 20px;
  padding-left: 15px;
  // line-height: 1.1;

  &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
    color: #0088cc;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
  }
}

.image-button-links {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  padding-left: 15px;
  color: #dddddd;
  cursor: pointer;
  cursor: hand;
  margin: 5px;
}

.good {
  &:hover {
    color: green;
  }
}

.bad {
  &:hover {
    color: red;
  }
}


.first-padding{
  padding-left: 0px;
}

.link-accent-first {
  .link-accent;
  padding-left: 0px;
}

.link-accent::after{
  content: "s";
  font-family: 'imperial-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px;
  font-size: 18px;
  position: absolute;
  margin: -10px -5px 5px 5px;
  right: 0;
  top: 50%;
  height: 24px;
  color: #0088cc;
}

.summary-subject{
  font-size: 20px;
  font-weight: 300;
}

.summary-content{
  color: #dddddd;
}

.content-row {
  display: block;
  position: relative;
  padding: 5px 0px;
  // border-bottom: 1px solid #dddddd;
}

.content-primary {
  display: inline-block;
  position: relative;
  color: #0088cc;
  font-size: 15px;
}

.content-secondary {
  display: inline-block;
  position: relative;
  float: right;

  color: #989898;
  font-size: 12px;

}


.editable-box {
  border: 1px solid #dddddd;
  padding: 1px 5px;
  box-shadow: inset 0px 0px 5px -2px #c3c6c7;
  border-radius: 4px;
  background-color: #ffffff;
  color: #565656;
  &:hover{
    cursor: pointer;
    color: #0088cc;
  }
}

.content-link {
  color: #989898;
  &:hover{
    cursor: pointer;
    color: #0088cc;
    text-decoration: none;
  }
}

.last-updated {
  display: inline-block;
  color: #989898;
  font-style: italic;
  font-size: 10px;
}

.edit-button {
  float: right;
  border: 1px solid #989898;
  color: #565656;
  padding: 1px 5px;
  border-radius: 4px;
  text-align: center;
  &:hover{
    cursor: pointer;
    color: #0088cc;
    text-decoration: none;
    border-color: #0088cc;
  }
}

.hide-me {
  @media (max-width: 768px) {
    display: none;
  }
}

.btn {
  border: 1px solid #989898;
  color: #565656;
  padding: 1px 5px;
  border-radius: 4px;
  text-align: center;
  background-color: #ffffff;
  font-size: 14px;
  box-shadow: none;
  background-image: none;
  &:hover{
    cursor: pointer;
    color: #0088cc;
    text-decoration: none;
    border-color: #0088cc;
    background-color: #ffffff;
    box-shadow: none;
    background-image: none;
  }
}

.btn-danger {
  &:hover {
    color: red;
    border-color: red;
  }
}

.small-italics {
  font-size: 12px;
  font-style: italic;
  color: #989898;
}

.index-header {
  margin: 0px;
  margin-bottom: 40px;
  padding: 5px 15px;
  background-color: #0088cc;
  color: #ffffff;
}

.small-margin {
  margin: 15px 3px;
}

.margin-top40 {
  margin-top: 40px;
}

.badge {
  text-shadow: none;
}
