// fonts and line height have all been commented out

.event-location {
  background: #FEFEFE;
  display: block;

  padding:10px;
  border: 2px dotted #CCC;
  border-top: 0px;
}

.capacity_container{
  margin-top: 20px;
  // font-size: 30px;
  .well {
    // line-height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .progress{
    height: 50px;
    .bar{
      // line-height: 50px;
    }
  }
}

#attending-text{
  // font-size: 20px;
}


/* Event/Placement Lists */
.opportunity-list{
  list-style: none;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  li {
    .item {
      padding: 10px 5px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
      display: block;
      text-decoration: none;
      // color: #444;
      border-top: 1px solid #ffffff;
      border-left: 1px solid #ffffff;
      border-right: 1px solid #ffffff;

      .link-title {
        font-weight: bold;
        // font-size: 1.2em;
      }

      .link-description{
        margin-top: 5px;
      }

      &:hover{
        cursor: pointer;
        color: #0088cc;
        text-decoration: none;
        border-color: #0088cc;
        background-color: #ffffff;
        box-shadow: none;
        background-image: none;
        border: 1px solid;

      }
    }
  }
}


#event-title {
  font-size: 30px;
  color: #0088cc;
  margin-bottom: -15px;
}

#about-event-header{
  display: inline-block;
  position: relative;
  color: #676767;
}

#about-event-content{
  display: inline-block;
  position: relative;
  color: #989898;
}

#attending {
  color: green;
}

#not-attending {
  color: red;
}