.event-location {
  background: #FEFEFE;
  display: block;

  padding:10px;
  border: 2px dotted #CCC;
  border-top: 0px;
}

.capacity_container{
  margin-top: 20px;
  font-size: 30px;
  .well {
    line-height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .progress{
    height: 50px;
    .bar{
      line-height: 50px;
    }
  }
}
