// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
}

h1 {
  padding-bottom:5px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.section-header {
  border-bottom: 1px solid #444;
}

.student-profile-text{
  font-size: 50pt;
  line-height: 50pt;
}

.student-profile-picture{
  width: 100%;
  max-height: 280px;
}

.centre-span{
  margin:0 auto;
  float:none;
}

.centre-text{
  text-align:center;
}

.fake-cv{
  height:500px;
  padding: 20px;
  background: #ccc;
  overflow: scroll;
}

.company-logo-large{
  float:left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.company-logo-header{
  float: right;
  img{
    max-height: 80px;
  }
}

.cpp-list{
  list-style: none;
  margin: 0px;
  padding: 0px;

  margin-bottom: 10px;

  li {
    .item {
      padding: 10px 5px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
      display: block;
      text-decoration: none;
      color: #444;

      .btn {
        display: none;
      }
      &:hover{
        background: #efefef;
        text-decoration: none;

        .btn{
          display: block;
        }
      }

      .link-title {
        font-weight: bold;
        font-size: 1.2em;
      }

      .link-description{
        margin-top: 5px;
      }
    }
  }
}

.cpp-tbl {
  tr {
    cursor: pointer;
    color: #444;
    &:hover{
      background: #efefef;
      text-decoration: none;
    }
  }
}

.fltr-search {
  max-width: 90%;
}

.see-all-link{
  float: right;
}

.clear {
  clear: both;
}

.student-profile-summary{
  font-size: 1.2em;
}

.interest-tag{
  padding: 5px;
  display: block;
  float:left;
  margin:3px;
  min-width: 100px;

  .label-text{
    float: left;
  }

  .close{
    line-height: 12px;
  }
}

.alert {
  padding: 8px 14px 8px 14px;
}

footer {
  border-top:1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.company-tiles {
  .row {
    margin-bottom: 20px;
  }
}

.company-tile {
  padding: 15px;

  .company-tile-blurb {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .row {
    margin-bottom: 0px;
  }

}

.student-profile-buttons {
  width: 194px;
  margin: 0 auto;
}

.table-toolbar {
  margin-bottom: 10px;
}

.admin-company-logo {
  width: 100px;
  margin: 0 auto;
  display: block;
}

.btn-column{
  width: 100px;
}

.user_details{
  float: right;
  display: block;
  padding-top: 8px;
  font-weight: 200;
  line-height: 30px;
  // color: white;
  
  a{
    text-decoration: underline;
    cursor: pointer;
  }
}

.tinymce {
  width: 600px;
  height: 300px;
}

.mceButton {
  border: 1px solid transparent !important;
}

.mceLayout {
  border: 1px solid #ccc !important;
  border-radius: 3px !important;
}

.mceToolbar {
  background-color: #fafafa !important;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2)) !important;
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2) !important;
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2) !important;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2) !important;
  background-repeat: repeat-x !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  border: none !important;
}

.mceIframeContainer {
  border-bottom: none !important;
}

.mceIframeContainer iframe {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.email-preview {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
