// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  padding-bottom:5px;
  margin-bottom: 20px;
  margin-top: 20px;

  &.section-header {
    border-bottom: 1px solid #444;
  }
}

.student-profile-picture{
  height: 130px;
  background: #CCC;
}

.fake-cv{
  height:500px;
  padding: 20px;
  background: #ccc;
  overflow: scroll;
}