// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
}

h1 {
  padding-bottom:5px;
  margin-bottom: 10px;
  margin-top: 20px;

  &.section-header {
    border-bottom: 1px solid #444;
  }
}

.student-profile-picture{
}

.fake-cv{
  height:500px;
  padding: 20px;
  background: #ccc;
  overflow: scroll;
}

.company-logo-large{
  float:left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.cpp-list{
  list-style: none;
  margin: 0px;
  padding: 0px;

  margin-bottom: 10px;

  li {
    a {
      padding: 10px 5px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
      display: block;
      text-decoration: none;
      color: #444;

      .btn {
        display: none;
      }
      &:hover{
        background: #efefef;
        text-decoration: none;

        .btn{
          display: block;
        }
      }

      .link-title {
        font-weight: bold;
        font-size: 1.2em;
      }

      .link-description{
        margin-top: 5px;
      }
    }
  }
}

.see-all-link{
  float: right;
}

.clear {
  clear: both;
}

.student-profile-summary{
  font-size: 1.2em;
}

.interest-tag{
  padding: 5px;
  display: block;
  float:left;
  margin:3px;
  min-width: 100px;

  .label-text{
    float: left;
  }

  .label-close{
    opacity: 0.3;
    cursor: pointer;
    padding:3px;
    float: right;

    &:hover{
      opacity: 0.7;
    }
  }
}

.alert {
  padding: 8px 14px 8px 14px;
}

footer {
  border-top:1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}