#splash-header {
	height: 100%;
	background-image: url('hand.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 1;
}

#splash-header-pic {
	z-index: 2;
}

#splash-header-box-top {
	height: 100px;
	background-image: url('Logo-connect-small.png');
	background-color: #3D7495;
	background-repeat: no-repeat;
  background-position: center;
	z-index: 10;
}

#splash-header-box-bottom {
	height: 100px;
	background-color: #72ACA6;
	text-align: center;
}

#splash-header-box-text {
	color: white;
	font-size: 23px;
	display: inline-block;
	margin-top: 15px;
}

#splash-header-container {
	width: 45%;
	margin-left: 20px;
	height: 260px;
	float: left;
	position: relative;
	z-index: 3;
	opacity: 0.8;
	min-width: 450px;
}


.left {
	float: left;
}

.right {
	float: right;
}

#splash-students {
	background-image: url('students.png');
}

#splash-companies {
	background-image: url('companies.png');
}

#splash-alumni {
	background-image: url('alumni.png');
}

#splash-card-text-box {
	height: 100%;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

#splash-card-text-left {
	height: 100%;
	width: 33%;
	float: left;
	position: relative;
	padding-top: 20px;
	padding-left: 20px;
}

#splash-card-text-right {
	height: 100%;
	width: 33%;
	float: right;
	position: relative;
	padding-top: 20px;
	padding-right: 20px;
}

#span-card {
	max-width: 1000px;
	min-width: 600px;
	//width: 100%;
	height: 300px;
	border: 1px;
	border-style: solid;
	border-color: lightgrey;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 5px 15px lightgrey;
}

.pic {
	min-height: 300px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;

}

.textl {
	height: 100%;
	padding-top:20px;
	padding-left:20px;
	padding-bottom:20px;
}

.textr {
	height: 100%;
	padding-top:20px;
	padding-right:20px;
	padding-bottom:20px;
}

.sp-card {
	max-width: 1000px;
	height: 100%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-color: lightgrey;
	box-shadow: 5px 5px 15px lightgrey;
	border: 1px;
	border-style: solid;
	border-color: lightgrey;
}

.sp-link {
	margin-right:15px;
}

.splash-button {
	margin: 5px;
	border-radius:15px;
	background-color:white;
	padding:15px;
	width:70px;
	text-align:center;
	display:inline-block;
	font-size:15px;
		&:hover{
		    cursor: pointer;
		    color: #989898;
		    text-decoration: none;
		  }
}

.logo {
	margin: auto;
	max-width: 150px;
}

.google {
	background-image: url('company_logos/google_logo.jpg');
}

.facebook {
	background-image: url('company_logos/facebook_logo.jpg');
}

#splash-login {
	width: 300px;
	margin: auto;
}

#splash-card-text-header {
	font-size: 40px;
}

#span-card-item {
    margin: 10px 0;
}
