#splash-header {
	width: auto;
	margin-left: -40px;
	margin-right: -40px;
	position: relative;
	z-index: 1;
}

#splash-header-pic {
	z-index: 2;
}

#splash-header-box {
	height: 50%;
	opacity: 5;
}

#splash-header-logo {
	display: inline-block;
	vertical-align: middle;
}

#splash-header-container {
	width: 40%;
	height: 200px;
	float: left;
	margin-top: 30%;
	position: absolute;
	z-index: 3;
}

#span-card {
	width: 100%; 
	height: 200px;
	border: 1px;
	border-style: solid;
	border-color: lightgrey;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 15px lightgrey;
}

#splash-card-pic-right {
	height: 100%;
	width: 63%;
	background-color: blue;
	float: right;
	position: relative;
}

#splash-card-pic-left {
	height: 100%;
	width: 63%;
	background-color: blue;
	float: left;
	position: relative;
}

#splash-card-text-left {
	height: 100%;
	width: 33%;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-top: 5px;
}

#splash-card-text-right {
	height: 100%;
	width: 33%;
	float: right;
	position: relative;
}

#splash-card-text-header {
	font-size: 40px;
}