#audit-container {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.audit-item {
  a {
    color: #444;
    text-decoration:none;
    display: block;

    &:hover {
      background-color: #eee;
    }

    border-bottom: 1px solid #999;
    padding: 10px 5px 4px 5px;
  }

  .normal {
    border-bottom: 1px solid #999;
    padding: 10px 5px 4px 5px;
  }

  .icon {
    font-size: 30px;
    line-height: 30px;
    float: left;
  }

  .message {
    margin-left: 45px;
  }

  .timestamp {
    margin-left: 45px;
    font-size: 10px;
    color: #666;
  }
}
