.tag-category {
  margin-bottom: 10px;
  .tag-category-header {
    font-size: 18px;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;

    input {
      margin-bottom: 0px;
    }
  }
}

.tag {
  margin: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  line-height: 20px;
  background-color: #3A87AD;

  .close {
    margin-left: 5px;
    margin-top: -2px;
  }
}
