//  THIS IS FOR OVERRIDEN BOOTSTRAP VARIABLES

// // --- overriding Bootstrap variables ---- //
@sansFontFamily:        'Fira Sans', Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, 'Times New Roman', Times, serif;

@baseFontSize:          14px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        18px;
@altFontFamily:         @serifFontFamily;